{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<header>
<h1 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ .Title }}</h1>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
{{ if .Params.host}}{{ partial "host.html" . }}{{ end -}}


</header>


<aside class="w-30-l mt6-l">
    {{- partial "menu-contextual.html" . -}}
</aside>


<div class="content">
{{ .Content }}

{{ if $.Param "relatedposts" | default false }}{{ partial "related.html" . }}{{ end -}}


{{ if ne .Lastmod .Date }}{{ partial "dates.html" . }}{{ end -}}
</div>



    
</article>
</main>
{{ end }}
